<script type="text/javascript" src="/js/modernizr.menu.js"></script>
<script type="text/javascript" src="/js/classie.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/svganimations.js"></script>
<script type="text/javascript" src="/js/modernizr.projects.js"></script>
<script type="text/javascript" src="/js/project-helpers.js"></script>
<script type="text/javascript" src="/js/projects-grid.js"></script>
<script type="text/javascript" src="/js/blog.js"></script>
