svg {
  pointer-events: none;
}

.drawings {
  position: relative;
  max-height: 600px;
}

.illustration {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.line-drawing,
.illustration {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.line-drawing {
  path {
    fill: none;
    stroke: black;
    stroke-width: 3;
  }
  .line-round {
    stroke-linecap: round;
  }
  .stroke-medium {
    stroke-width: 2;
  }
  .stroke-thin {
    stroke-width: 1;
  }
}

.small-logo {
  width: 97px;
  margin-left: 8px;
  margin-top: -4px;
}

figure {
  margin: 0;
}

