ul {
list-style-type: none;
}

/*ID because of the hash tag*/
#basic-info {
color: magenta;
}

.important {
  font-size: 120%;
  color: indianred;
}

img {
  border-radius: 15px;
  padding: 10px;
  margin-left: 20px;
}
