---
layout: default
---

<div class="blog-content">
  <div id="blog-container" class="show-post blog-container intro-effect-push">
    <header class="blog-header">
      <div class="bg-img">
        <img src="{{ page.picture }}" alt="Background Image"/>
      </div>
      <div class="title">
        <h1>{{ page.title }}</h1>
      </div>
    </header>
    <button class="trigger" data-info="Scroll Down"><span>Trigger</span></button>
     <article class="blog-content">
      <div>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date_to_long_string }}</p>
        <p>{{ content }}</p>
      </div>
    </article>
  </div>
</div>
